body {
    padding: 40px 100px;
}
h3 {
    color: var(--main-color);
    font-size: 1.5em;
    margin-bottom: 30px;
}
p {
    margin: 20px 0;
}
form {
    position: relative;
}
.green {
    color: green;
}
.red {
    color : red;
}
.exam-duration {
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 20px;
    color: green;
    &.red {
        color: var(--main-color);
    }
}
.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    p {
        font-size:25px;
    }
    .btn {
        width: fit-content;
    }
}
.step {
    display: none;
    &.active {
        display: block;
    }
    .inputs {
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
        gap: 20px 0;
        .input {
            width: calc(100% / 2);
            display: flex;
            gap: 30px;
            align-items: center;
            input {
                width: auto;
                margin-bottom: 0;
            }
        }
    }
}