header {
    padding: 0 0 30px;
    .sub-menu {
        background-color: #5f6a72;
        margin-bottom: 30px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: end;
        padding: 5px 42px;
        li {
            padding: 0 10px 0 0;
            &:not(:last-child) {
                border-right: 1px solid #fff; 
            }
            a {
                color: #fff ;
                font-size: 14px;
            }
        }
    }
    .holder {
        padding: 5px 42px;
        img {
            max-width: 15%;
        }
        h1 {
            text-align: center;
            color: #565656;
            margin: 30px 0;
            font-weight: 300;
            span {
                color: var(--main-color);
            }
        }
        .cards {
            flex-wrap: nowrap;
            .card {
                overflow: hidden;
                a {
                    &:hover,
                    &.active {
                        background: #fff !important;
                        img {
                            filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, .2));
                        }
                        span {
                            color: var(--main-color);
                        }
                    }
                    img {
                        max-width: 100%;
                        padding: 10px;
                        border: 1px solid #ddd;
                        background: #fff;
                        margin-bottom: 10px;
                        transition: .3s;
                    }
                    span {
                        text-align: center;
                        width: 100%;
                        display: block;
                        transition: .3s;
                    }
                }
            }
        }
    }

}

.container {
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 30px 0 60px;
    h3 {
        background: var(--main-color);
        padding: 10px;
        color: #fff;
        margin-bottom: 30px;
    }
}

form {
    .input {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-bottom: 20px;
        margin-left: 20px;
        label {
            width: 15%;
        }
        .error {
            color: var(--main-color);
            margin: 10px;
        }
        input,
        select {
            margin-left: 0;
            width: 70%;
        }
    }
    .btn {
        display: block;
        margin: 10px auto;
    }
}
.not-found {
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    color: #000 !important;
    opacity: .5;
}
.form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 6px;
    h4 {
        font-size: 18px;
        span {
            margin-left: 20px;
            color: var(--main-color);
        }
    }
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    .box {
        width: calc(100% / 3 - 20px);
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        i {
            font-size: 3em;
            margin-bottom: 30px;
            color: var(--main-color);
        }
        .text {
            h4 {
                font-size: 1.5em;
            }
            p {
                margin: 20px 0;
                font-size: 18px;
                font-weight: bold;
                span.price {
                    color: green;
                }
                span.completed {
                    color: #673AB7;
                    margin-left: 20px;
                }
            }
        }
        .btns {
            display: flex;
            gap: 15px;
            justify-content: center;
            .btn {
                font-size: 14px;
                padding: 5px 15px;
            }
        }
    }
}

.member {
    h4 {
        --a : 10;
        font-size: 2em;
        margin-bottom: 20px;
        color: var(--main-color);
    }
    p {
        font-size: 20px;
        color: #565656;
        margin-bottom: 30px;
    }
}

footer {
    border-top: 1px solid #5f6a72;
    padding: 50px;
    text-align: center;

    p {
        font-size:14px;
        color:#5f6a72; 
    }
    ul.links {
        display:flex;
        gap:5px;
        li {
            padding:3px 10px;
            &:not(:last-child) {
                border-right:1px solid  #5f6a72 ;
            }
            a {
                color: var(--main-color);
            }
        }
    }
}