.text {
    padding:  30px 20px;
    h3 {
        margin: 30px 0;
    }
    p {
        color: #565656;
        margin: 20px 0;
    }
    h4 {
        color: #565656;
        margin: 40px 0;
        font-weight: 900;
    }
}